#map {
    width: 100%;
    height: 100%;
}

div.leaflet-popup-content-wrapper {
    max-height: 100px;
    overflow: scroll;
}

#controls {
    position: absolute;
    left: 4em;
    top: 1em;
    z-index: 10;
}

#info {
    /* position: absolute; */
    /* left: 4em; */
    /* top: 3em; */
    z-index: 10;
    color: #333333;
    font-size: 1em;
    text-shadow:
     -1px -1px 0 #EEEEEE,
      1px -1px 0 #EEEEEE,
      -1px 1px 0 #EEEEEE,
       1px 1px 0 #EEEEEE;
}
.leaflet-container a.leaflet-popup-close-button {
    right: 5px;
}
#help {
    position: absolute;
    width: 45%;
    left: 25%;
    top: 10em;
    background: #FFFFFF;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

#help-btn {
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 10;
    color: #EEEEEE;
    font-size: 2em;
    text-shadow:
     -1px -1px 0 #333333,
      1px -1px 0 #333333,
      -1px 1px 0 #333333,
       1px 1px 0 #333333;
}

#clicktohide {
    color: #AAAAAA;
}